In [60]:
import xgboost as xgb
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import pandas as pd
import numpy as np
import random

In [97]:
train = pd.read_csv('data/train.csv')

del train['Ticket']
del train['Cabin']
del train['Name']
del train['Fare']
train['Sex'] = train['Sex'].map({"male": 0, "female": 1}).astype(np.int8)
train['Age'] = train['Age'].fillna(value=train['Age'].median())
train['Embarked'] = train['Embarked'].fillna(0.1)
train['Embarked'] = train['Embarked'].replace({'C': 1, 'Q': 2, 'S': 3}).astype(float)
correct = 0



for i in range(len(train)):
    y = train.iloc[i]['Survived']
    x = train.iloc[i][2:]
    
    if x[1] == 1:
        if x[0] == 1 or x[0] == 2:
            z = 1
        else:
            if x[5] == 3:
                z = 0
            else:
                z = 1
    else:
        if x[5] == 2:
            z = 0
        elif x[5] == 1:
            z = 1 if random.random() < 0.3 else 0
        else:
            z = 0 if random.random() < 0.89 else 1
    
    if y == z:
        correct += 1
print(correct/len(train))

0.7732884399551067

C:\Users\admin\AppData\Local\Temp\ipykernel_13972\1350099660.py:10: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  train['Embarked'] = train['Embarked'].replace({'C': 1, 'Q': 2, 'S': 3}).astype(float)
C:\Users\admin\AppData\Local\Temp\ipykernel_13972\1350099660.py:19: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  if x[1] == 1:
C:\Users\admin\AppData\Local\Temp\ipykernel_13972\1350099660.py:28: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  if x[5] == 2:
C:\Users\admin\AppData\Local\Temp\ipykernel_13972\1350099660.py:30: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  elif x[5] == 1:
C:\Users\admin\AppData\Local\Temp\ipykernel_13972\1350099660.py:20: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  if x[0] == 1 or x[0] == 2:
C:\Users\admin\AppData\Local\Temp\ipykernel_13972\1350099660.py:23: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  if x[5] == 3:

In [98]:
train.head(20)

    PassengerId  Survived  Pclass  Sex   Age  SibSp  Parch  Embarked
0             1         0       3    0  22.0      1      0       3.0
1             2         1       1    1  38.0      1      0       1.0
2             3         1       3    1  26.0      0      0       3.0
3             4         1       1    1  35.0      1      0       3.0
4             5         0       3    0  35.0      0      0       3.0
5             6         0       3    0  28.0      0      0       2.0
6             7         0       1    0  54.0      0      0       3.0
7             8         0       3    0   2.0      3      1       3.0
8             9         1       3    1  27.0      0      2       3.0
9            10         1       2    1  14.0      1      0       1.0
10           11         1       3    1   4.0      1      1       3.0
11           12         1       1    1  58.0      0      0       3.0
12           13         0       3    0  20.0      0      0       3.0
13           14         0       3    0  39.0      1      5       3.0
14           15         0       3    1  14.0      0      0       3.0
15           16         1       2    1  55.0      0      0       3.0
16           17         0       3    0   2.0      4      1       2.0
17           18         1       2    0  28.0      0      0       3.0
18           19         0       3    1  31.0      1      0       3.0
19           20         1       3    1  28.0      0      0       1.0

In [24]:
female_df = train[train["Sex"]==1]
female_df_embarked = female_df[female_df.Pclass == 3]
female_df_embarked['Survived'].count()

144

In [86]:
correct =0
count_pclass1 =0
count_pclass2 =0
count_pclass3 =0

count_pclass3_em3 =0
for i in range(len(female_df)):
    y = female_df.iloc[i]['Survived']
    x = female_df.iloc[i][2:]
    

    if x[0] == 1:
        count_pclass1 +=1
        z = 1
    elif x[0] == 2:
        count_pclass2+=1
        z = 1
    else:
        count_pclass3 += 1
        if x[5] == 3:
            count_pclass3_em3 +=1
            z = 0
        else:
            z = 1

    
    if y == z:
        correct += 1
print(correct/len(female_df))

print(f"Pclass1: {count_pclass1}\n"
      f"Pclass2: {count_pclass2}\n"
      f"Pclass3: {count_pclass3}\n"
      f"Pclass3_em3: {count_pclass3_em3}")

0.8121019108280255
Pclass1: 94
Pclass2: 76
Pclass3: 144
Pclass3_em3: 88

C:\Users\admin\AppData\Local\Temp\ipykernel_13972\482913697.py:12: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  if x[0] == 1:
C:\Users\admin\AppData\Local\Temp\ipykernel_13972\482913697.py:15: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  elif x[0] == 2:
C:\Users\admin\AppData\Local\Temp\ipykernel_13972\482913697.py:20: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  if x[5] == 3:

In [28]:
male_df = train[train["Sex"]==0]

In [95]:
correct = 0
for i in range(len(male_df)):
    y = male_df.iloc[i]['Survived']
    x = male_df.iloc[i][2:]
    
   
    if x[5] == 2:
        z = 0
    elif x[5] == 1:
        e = 1 if random.random() < 0.3 else 0
    else:
        e = 0 if random.random() < 0.89 else 1
        
    if y == z:
        correct += 1
print(correct/len(male_df))

0.8110918544194108

C:\Users\admin\AppData\Local\Temp\ipykernel_13972\3521944104.py:7: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  if x[5] == 2:
C:\Users\admin\AppData\Local\Temp\ipykernel_13972\3521944104.py:9: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  elif x[5] == 1:

In [91]:
male_df.describe()

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Embarked
count,577.000000,577.000000,577.000000,577.0,577.000000,577.000000,577.000000,577.000000
mean,454.147314,0.188908,2.389948,0.0,30.140676,0.429809,0.235702,2.599653
std,257.486139,0.391775,0.813580,0.0,13.050847,1.061811,0.612294,0.755213
min,1.000000,0.000000,1.000000,0.0,0.420000,0.000000,0.000000,1.000000
25%,222.000000,0.000000,2.000000,0.0,23.000000,0.000000,0.000000,3.000000
50%,464.000000,0.000000,3.000000,0.0,28.000000,0.000000,0.000000,3.000000
75%,680.000000,0.000000,3.000000,0.0,35.000000,0.000000,0.000000,3.000000
max,891.000000,1.000000,3.000000,0.0,80.000000,8.000000,5.000000,3.000000

In [36]:
male_life = male_df[male_df.Survived==1]
male_dead = male_df[male_df.Survived==0]
male_life.describe()

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Embarked
count,109.000000,109.0,109.000000,109.0,109.000000,109.000000,109.000000,109.000000
mean,475.724771,1.0,2.018349,0.0,27.382294,0.385321,0.357798,2.440367
std,244.717482,0.0,0.922774,0.0,15.235418,0.636952,0.645826,0.886433
min,18.000000,1.0,1.000000,0.0,0.420000,0.000000,0.000000,1.000000
25%,272.000000,1.0,1.000000,0.0,20.000000,0.000000,0.000000,1.000000
50%,508.000000,1.0,2.000000,0.0,28.000000,0.000000,0.000000,3.000000
75%,680.000000,1.0,3.000000,0.0,35.000000,1.000000,1.000000,3.000000
max,890.000000,1.0,3.000000,0.0,80.000000,4.000000,2.000000,3.000000

In [35]:
male_life["Embarked"].value_counts()

Embarked
3.0    77
1.0    29
2.0     3
Name: count, dtype: int64

In [37]:
male_dead["Embarked"].value_counts()

Embarked
3.0    364
1.0     66
2.0     38
Name: count, dtype: int64

In [48]:
male_life_embarked1 = male_life[male_life["Embarked"]==1]
male_dead_embarked1 = male_dead[male_dead["Embarked"]==1]

male_life_embarked3 = male_life[male_life["Embarked"]==3]
male_dead_embarked3 = male_dead[male_dead["Embarked"]==3]

male_life_embarked1.describe()

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Embarked
count,29.000000,29.0,29.000000,29.0,29.000000,29.000000,29.000000,29.0
mean,532.482759,1.0,1.758621,0.0,29.428276,0.344828,0.379310,1.0
std,244.923694,0.0,0.950758,0.0,13.934153,0.483725,0.621852,0.0
min,37.000000,1.0,1.000000,0.0,0.420000,0.000000,0.000000,1.0
25%,454.000000,1.0,1.000000,0.0,23.000000,0.000000,0.000000,1.0
50%,600.000000,1.0,1.000000,0.0,28.000000,0.000000,0.000000,1.0
75%,682.000000,1.0,3.000000,0.0,35.000000,1.000000,1.000000,1.0
max,890.000000,1.0,3.000000,0.0,60.000000,1.000000,2.000000,1.0

In [71]:
male_life_embarked3['Pclass'].value_counts()
# male_life_embarked3_Parh0 = male_life_embarked3[male_life_embarked3.Parch==0]
# male_life_embarked3_Parh0.describe()

Pclass
3    34
1    28
2    15
Name: count, dtype: int64

In [73]:
male_dead_embarked3['Pclass'].value_counts()
# male_dead_embarked3_Parh0 = male_dead_embarked3[male_dead_embarked3.Parch==0]
# male_dead_embarked3_Parh0.describe()

Pclass
3    231
2     82
1     51
Name: count, dtype: int64

In [61]:
male_dead_embarked3_Parh0["Pclass"].value_counts()

Pclass
3    198
2     74
1     44
Name: count, dtype: int64

In [62]:
male_life_embarked3_Parh0['Pclass'].value_counts()

Pclass
3    27
1    23
2     7
Name: count, dtype: int64